<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /temp-repo/

    # Do not rewrite existing files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Send everything else to index.php
    RewriteRule ^ index.php [L]
</IfModule>